<p style="color: green"><%= notice %></p>

<h1>Blogs Listing Page</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @blogs.each do |blog|%>
      <tr>
        <td><%= blog.title%></td>
        <td><%= blog.body%></td>
        <td><%= link_to "Show", blog_path(blog) %></td>
        <td><%= link_to "Delete", blog_path(blog), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?" }  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
