<h2 id= "show"class ="text-center"><%= @blog.title %></h2>
  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow-none mb-5 bg-light rounded">
          <div class="card-header font-italic">
            By <%= @blog.user.username if @blog.user%>
            <%= link_to gravatar_for(@blog.user), user_path(@blog.user)%>
            <% if @blog.categories.any? %>
              <div class="mt-2"> <%= render @blog.categories %> </div>
            <% end %>
          </div>
            <div class="card-body">
              <div class="card-text text-start"><%= simple_format(@blog.body) %></div>
              <% if logged_in? && @blog.user == current_user %>
              <button type="button" class="btn btn-outline-dark"><%= link_to "Edit", edit_blog_path(@blog)  %></button>
              <button type="button" class="btn btn-outline-danger"><%= link_to "Delete", blog_path(@blog), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?" } %>  </button>
              <% end %>
            </div>
            <div class="card-footer text-body-secondary">
              <small>Created <%= time_ago_in_words(@blog.created_at)%> ago,
                edited <%=time_ago_in_words(@blog.updated_at)%> ago</small>
            </div>
          </div>      